* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: black;
}

section {
    margin: 30px auto;
}

h1 {
    font-size: max(18px, 1.7vw);
    font-weight: bold;
}

p {
    font-size: max(14px, 1.1vw);
    color: white;
}

#btnTopo {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    padding: 10px 10px;
    background-color: #008b0c;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

#btnTopo:hover {
    transform: scale(1.1);
    color: #008b0c;
    background-color: white;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 90px 30px 30px 30px;
}

.content {
    width: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: .7rem;
}

.media {
    width: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media img {
    width: 90%;
}

.img-fullW {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fullW img {
    width: 50%;
    transition: .3s;
}

.gradient {
    background-image: linear-gradient(to right, rgb(255, 255, 255), #008b0c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.btn-link {
    align-items: center;
    text-align: center;
    background-image: linear-gradient(144deg, #004203, #008b0c 50%, #00eb4e);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(109, 252, 65, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 60%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.btn-link:active,
.btn-link:hover {
    outline: 0;
}

.btn-link span {
    background-color: rgb(5, 45, 5);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn-link:hover span {
    background: none;
}

/* Barra de navegação */

.navbar {
    z-index: 1000;
    height: 90px;
    background: black;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: 120px;
    transition: .3s;
}

.logo img {
    height: 100%;
}

#btn-mobile {
    display: none;
}

#menu {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.item-menu a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: white;
    transition: .5s;
}

.item-menu a:hover {
    color: #008b0c;
}

/* fim */

/* footer */

footer {
    width: 100%;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

}

/* section home */

#section1 .container {
    background: rgb(34, 34, 34);
    border-radius: 30px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .btn-link {
        font-size: 24px;
        min-width: 120px;
    }
}

@media (max-width: 900px) {
    .logo {
        height: 40px;
        margin-top: 2rem;
    }

    #btn-mobile {
        display: block;
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
        background-color: transparent;
        border: none;
    }

    #btn-mobile span:after,
    #btn-mobile span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #btn-mobile span:after {
        top: 9px;
    }

    #btn-mobile span {
        position: relative;
        display: block;
    }

    #btn-mobile span,
    #btn-mobile span:after,
    #btn-mobile span:before {
        width: 100%;
        height: 5px;
        background-color: #008b0c;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    #nav.active span {
        background-color: transparent;
    }

    #nav.active span::before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #nav.active span::after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #menu {
        display: block;
        position: absolute;
        width: 200px;
        height: 0px;
        z-index: 999;
        transition: .2s;
        top: 90px;
        right: 3%;
        background: #ffffffef;
        text-align: center;
        border-radius: 10px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: 150px;
        visibility: visible;
        padding: 14px;
    }

    .item-menu a {
        display: block;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        color: black;
        transition: .5s;
        padding: 5px;
    }

    .item-menu a:hover {
        color: #008b0c;
    }

    .img-fullW img {
        width: 100%;
    }
}