#btnTopo {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    padding: 10px 10px;
    background-color: #008b0c;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

#btnTopo:hover {
    transform: scale(1.1);
    color: #008b0c;
    background-color: white;
}